<div class="container d-flex flex-column justify-content-center align-items-center text-center">
<h1>Update my task</h1>

<%= render 'form', task: @task%>

<%= link_to "back", root_path, class:"btn btn-primary mt-3"%>
</div>
